*__pycache__*
*DS_Store*
*.pyc
*.ipynb_checkpoints
*.vscode
*.code-workspace
*.VS*
test.ipynb

# mkdocs documentation
/site

# sphinx
_build
_static
_templates

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
